<%= render 'layouts/nav' %>
<div class="container">
<h3 class="center">I AM AN INTERESTED LANDOWNER</h3>
  <div class="row">
    <p class="col s8 offset-s2 center">Attention Landowners – We are currently siting land throughout the country for solar farm development. Please fill out the form below to find out if your parcel is located in a state in which we are currently doing business. If it is, and if the site passes our preliminary analysis, we will contact you via the email you provide.</p>
  </div>
  <div class="row">
    <p class="col s8 offset-s2 center">Please Note: Land must be 20+ continuous acres, relatively flat and free of wetlands and endangered species.</p>
  </div>
  <%= render 'form' %>
</div>
