<%= render 'layouts/nav' %>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h3 class="header left black-text col s8 offset-s1">How much renewable energy can your land produce?</h3>
        <div class="row center">
          <div class="col s12" style="height: 6em;"></div>
        </div>
        <div class="row center">
          <a href="/listings" id="listings-button" class="btn-large waves-effect waves-light light-green darken-2">Browse Listings</a>
          <a href="/listings/new" id="new-listing-button" class="btn-large waves-effect waves-light light-green darken-2">List Your Land</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src=<%= image_path('terrax_background.png') %> alt="Unsplashed background img 1"></div>
  </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">pin_drop</i></h2>
            <h5 class="center">List Your Property</h5>
            <p class="center light">Enter parcel address, minimum acreage price, and other details into the TerraX marketplace. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Review Offers</h5>
            <p class="center light">Review offers submitted by developers for your land on the TerraX platform</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Earn Passive Income</h5>

            <p class="light center">When a satisfactory bid is received, sign a lease via our platform and watch the income roll in</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src=<%= image_path("background2.jpg") %> alt="Unsplashed background img 2" style="opacity: 0.6;"></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5>Terra X connects land owners and energy developers for a more sustainable future.</h5>
        </div>
      </div>

    </div>
  </div>