<nav class="white" role="navigation">
  <div class="row">
  <div class="col s12">
  <a id="logo-container" href="/" class="brand-logo"><img src=<%= image_path('terrax_logo.png') %> alt="Logo" style='width:50%;'></a>
  <ul class="right hide-on-med-and-down">
    <li><a href="/listings/new">List a Property</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li><a href="#">Navbar Link</a></li>
  </ul>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  </div>
</nav>